# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Virtual environment
.venv/
venv/
env/

# Django stuff
*.log
db.sqlite3
media/
staticfiles/
local_settings.py

# IDE / Editor stuff
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

